{% extends 'blog/baset.html'%}
{% load bootstrap %}


{% block content %}



  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ops!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Desculpe... Ainda não implementamos essa funcionalidade.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Conteúdo Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Conteúdo</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <a href="#services"><i class="fas fa-th-large fa-4x text-primary mb-4"  data-toggle="modal" data-target="#exampleModal"></i></a>
            <h3 class="h4 mb-2">Apps</h3>
            <p class="text-muted mb-0">Conheça nossas Aplicações</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <a href="{%url 'post_list'%}"><i class="fas fa-4x fa-blog text-primary mb-4"></i></a>
            <h3 class="h4 mb-2">Blog</h3>
            <p class="text-muted mb-0">Amplie seus Conhecimentos</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <a href="##services"><i class="fas fa-4x fa-video text-primary mb-4" data-toggle="modal" data-target="#exampleModal"></i></a>
            <h3 class="h4 mb-2">Videos</h3>
            <p class="text-muted mb-0">Canais e Links</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <a href="{%url 'manutencao'%}"><i class="fas fa-4x fa-shopping-cart text-primary mb-4"></i></a>
            <h3 class="h4 mb-2">Serviços</h3>
            <p class="text-muted mb-0">Contrate nossos Serviços</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Meu blog Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
      {% for imagem in s_imagens %}
        <div class="col-lg-4 col-sm-6" style="height:350px; overflow: hidden;">
          <a class="portfolio-box" href="{{imagem.fotos.url}}">
            <img class="img-fluid" src="{{imagem.fotos.url}}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-name">
                {{imagem.descricao_curta}}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>


      <!-- Sobre Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">{{sobre_mim.nome}}</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">{{sobre_mim.descricao_curta}}</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="{%url 'sobre_mim'%}">Saber Mais</a>
        </div>
      </div>
    </div>
  </section>


  <!-- Fale comigo Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Vamos lá! Fale comigo..</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Entre em contato com algumas de minhas redes sociais ou pelo blog mesmo é só preencher o formulário"</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 ml-auto text-center mb-5 mb-lg-0">
          <a href="https://github.com/ClaudioGuitta" target="blank"><i class="fab fa-github-square fa-3x mb-3 text-muted"></i></a>
          <div></div>
        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.facebook.com/BlogHildeS/?modal=admin_todo_tour"><i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i></a>
          <!-- Make sure to change the email address in anchor text AND the link below! -->

        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.instagram.com/hilde_cg" target="blank"><i class="fab fa-instagram fa-3x mb-3 text-muted"></i></a>
          <!-- Make sure to change the email address in anchor text AND the link below! -->

        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.youtube.com/channel/UC9HLLrTA7muu8xs9B-f53Hw?view_as=subscriber" target="blank"><i class="fab fa-youtube fa-3x mb-3 text-muted"></i></a>
          <!-- Make sure to change the email address in anchor text AND the link below! -->

        </div>


        <div class="col-lg-2 mr-auto text-center">
          <a href="#formmodal"><i class="fas fa-envelope fa-3x mb-3 text-muted" data-toggle="modal" data-target="#formModal"></i></a>
          <!--
          <a href="#contact"><i class="fas fa-envelope fa-3x mb-3 text-muted" data-toggle="modal" data-target="#formModal"></i></a>-->

        <!--AJEITAR ESSE MODALL-->
          <!-- Modal -->
          <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Preencha os campos do formulário para entrar em contato.</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--FORMULARIO PARA ENTRAR EM CONTATO-->
                  <div id="html-fale">
                      <div class="container w-75 p-3 shadow-sm p-4" >
                          <form method="POST">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-12">
                                  {{ form.nome }}
                                </div>
                                <div class="col-12">
                                  {{form.telefone}}
                                </div>
                                <div class="col-12">
                                  {{form.email}}
                                </div>
                                <div class="col-12">
                                  {{form.mensagem }}
                                </div>
                                <div class="col-12 buton-form-contateme">
                                  <button type="submit" class="btn btn-warning">Enviar</button>
                                </div>
                                </div>
                            </form>
                      </div>
                  </div>

                  <!--FINAL DO FORMULARIO PARA ENTRAR EM CONTATO-->

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
