
.container-edit{
    margin-top: 10%;
}

@media (max-width: 900px){
    .container-edit{
        margin-top: 25% !important;
    }
}

.img-header{
    width: 100%;
    opacity: 0.8;
  }

.img-card-edit{
    overflow: hidden;
    width: 100%;
    height: 198px;
    padding: 0;
}

.img-fluid-custon {
    width:30% !important;
}


@media (max-width: 991px){
    .ocutar-tabela{
        display:none; !important;
    }

}


