{%extends 'blog/admin/dist_templates/index.html'%}

{% load bootstrap %}

{% block content %}
{% if user.is_superuser %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{form.servico|bootstrap}}
            {{form.descricao|bootstrap}}
            {{form.valor|bootstrap}}
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
    </div>
{% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                    <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead">Não Autorizado!</p>
                    <p>O acesso a este recurso foi negado.</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}