{%extends 'blog/admin/dist_templates/index.html'%}

{% block content %}
{% if user.is_superuser %}



<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-9">
        <h6 class="m-0 font-weight-bold text-primary col-8">Editar Nav Blog</h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div>
      <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="ocutar-tabela" scope="col">#</th>
          <th scope="col">Logo</th>
          <th scope="col">Imagem de fundo</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
      {% for listar in listar_editar_nav_blog %}
        <tr>
          <th class="ocutar-tabela" scope="row">{{listar.logo|first}}</th>
          <td>{{listar.logo}}</td>

          <td>
          {% if listar.imagem_de_fundo %}
          <a href="{{listar.imagem_de_fundo.url}}" data-toggle="modal" data-target="#ModalVer">Imagem</a>
          {% endif %}
          </td>

          <!-- Modal -->

              <div class="modal fade" id="ModalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Imagem</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      {% if listar.imagem_de_fundo %}
                        <img src="{{listar.imagem_de_fundo.url}}" style="width: 25rem;" alt="">
                      {% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
            <td><a href="{% url 'editar_nav' listar.id %}" data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-warning btn-circle"><i class="fas fa-edit"></i></a></td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                    <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead">Não Autorizado!</p>
                    <p>O acesso a este recurso foi negado.</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}