{%extends 'blog/admin/dist_templates/index.html'%}

{% load bootstrap %}


{% block content %}
{% if user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.primeiro_nome|bootstrap}}
                {{form.segundo_nome|bootstrap}}
                {{form.email|bootstrap}}
                {{form.descricao_curta|bootstrap}}
                {{form.sobre|bootstrap}}
                {{form.experiencia|bootstrap}}
                {{form.educacao|bootstrap}}
                {{form.habilidades|bootstrap}}
                {{form.interesse|bootstrap}}
                {{form.imagem_sobre|bootstrap}}
                <button type="submit" class="btn btn-primary">Salvar</button>
             </form>
        </div>
    </div>
</div>
{% else %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                    <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead">Não Autorizado!</p>
                    <p>O acesso a este recurso foi negado.</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}