
.container-edit{
    margin-top: 10%;
}

.img-header{
    width: 100%;
    opacity: 0.8;
  }

.img-card-edit{
    overflow: hidden;
    width: 100%;
    height: 198px;
    padding: 0;
}


@media (max-width: 991px){
    .nav-link{
        font-size:1.9rem !important;
    }

}

@media (max-width: 991px){
    .ocutar-tabela{
        display:none; !important;
    }

}